* {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

header h1,
header h2 {
	padding: 10px;
}

main {
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.categories_div {
	margin: 0 auto;
	width: 100%;
	align-self: center;
}

.category_cards {
	border: solid 1px blue;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 25px;
	width: 100%;
}

.card {
	border: solid 1px hotpink;
	padding: 15px;
	width: 15%;
	text-align: center;
}

.images {
	width: 100%;
	max-width: 150px;
}
.show {
	display: block;
}
.hide {
	display: none;
}
